   <div class="jumbotron">
     <h1 class="title">Real Offer</h1>
     <p class="slogan">Real Offer is a IT job search website that offers job opportunities.
     <br> <br>
     We hope that through this website, you can find and apply for high-paying and high-quality jobs.
     <br> <br>
      Just be a Winner
     </p>
     <div title= "nothing impossible">
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">APPLY NOW</a></p>
     </div>
   </div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2013/07/13/14/05/location-162102_960_720.png" width="200px" height="30px" alt="search" class = "img-thumbnail">
          <div class="caption">
            <a href="https://www.google.com/maps/preview" target=_new> <h3> DC/VA/MD </h3>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2016/01/10/22/52/letters-1132703_960_720.png" width="200px" height="30px" alt="bid" class = "img-thumbnail">
          <div class="caption">
            
            <a id= "toggle-2" href="mailto:service@realoffer.com"> <h3>service@realoffer.com </h3>
            </a>
             <div id="foo-2" style="background-color:powderblue;">
            <p>Please email me at feiwangsioc@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2016/02/07/14/45/smartphone-1184883_960_720.png" width="200px" height="30px" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <a id="toggle-3"> <h3>(NPA)-NXX-XXXX</h3>
            </a>
            <div id="foo-3" style="background-color:powderblue;">
              <p>Please contact me at (352) 213 0083 if any questions</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $("#foo-3").hide();   // 先马上藏起来

  $("#toggle-3").hover(function(){
    $("#foo-3").fadeToggle();   // 移过去会有开关的效果
  })
  
   $("#foo-2").hide();   // 先马上藏起来

  $("#toggle-2").hover(function(){
    $("#foo-2").fadeToggle();   // 移过去会有开关的效果
  })
  
  

</script>