   <div class="jumbotron">
     <h1 class="title">Real Offer</h1>
     <p class="slogan">Real Offer is a IT job search website that offers job opportunities.
     <br> <br>
     We hope that through this website, you can find and apply for high-paying and high-quality jobs.
     <br> <br>
      Just be a Winner
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">APPLE NOW</a></p>
   </div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>DC/VA/MD</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>service@realoffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>(123) 456 7890</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section